repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        # Allow ruff to auto-fix lint errors when possible during the hook.
        args: ["--fix"]
      - id: ruff-format
